@font-face {
  font-family: "MuseoSans";
  src: url("https://talent-unbound-galleria.github.io/location-website/fonts/MuseoSans/MuseoSansRounded-100.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url("https://talent-unbound-galleria.github.io/location-website/fonts/MuseoSans/MuseoSansRounded-300.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url("https://talent-unbound-galleria.github.io/location-website/fonts/MuseoSans/MuseoSansRounded-500.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url("https://talent-unbound-galleria.github.io/location-website/fonts/MuseoSans/MuseoSansRounded-700.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url("https://talent-unbound-galleria.github.io/location-website/fonts/MuseoSans/MuseoSansRounded-900.otf");
  font-weight: 900;
  font-style: normal;
}
