/* ========================================================================
   Junto Studios's custom styles
   ========================================================================== */

// Overall
$acton-blue: #003a68;
$acton-yellow: #ecac00;
$cbf-orange: #f46c3e;
$black: #333;
$grey: #555;

body, html { height: 100%; width: 100%; font-size: 21px; }

@media (max-width: 767px) {
  body, html { height: 100%; width: 100%; font-size: 16px; }
}

body {
  background-color: #fff;
  color: $grey;
  font-family: 'Gotham Book', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

// Spacing
.row {
  margin: 0px;
}

.centered, .center {
  text-align: center;
}

.right {
  text-align: right;
}

.no-padding {
  padding: 0;
}

.vertical-align-m {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// Titles

h1, h2, h3, h4, h5 {
  font-family: 'Gotham Bold', sans-serif;
  font-weight: 700;
  line-height: 1.25;
  margin: 0 0 1rem 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

// Paragraph & Typographic
p {
  font-size: 1rem;
  margin: 0 0 1rem 0;
}

.white-text {
  h1, h2, h3, h4, a, p, li {
    color: white;
  }
}

.bold {
  font-weight: 700;
}

// Links
a {
  color: white;
  word-wrap: break-word;
  &:hover, &:focus, &:active {
    color: white;
  }
}

a.white {
  color: #fff;
  text-decoration: underline;
  &:hover, &:focus {
    text-decoration: underline;
  }
}

a:hover, a:focus {
  outline: 0;
  text-decoration: underline;
}

a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

// Buttons

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 1rem 3rem;
  display: inline-block;
  margin: 0.67rem 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background: #27ae60;
  color: #fff;
  box-shadow: 0 6px darken(#27ae60, 10%);;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border-radius: 0 0 5px 5px;
  &:hover {
    color: #fff;
    box-shadow: 0 8px darken(#27ae60, 10%);;
    top: -2px;
  }

  &:active {
    color: #fff;
    box-shadow: 0 0 darken(#27ae60, 10%);;
    top: 6px;
  }

  @media (max-width: 767px) {
    font-size: 0.9rem;
    padding: 1.2rem;
  }
}
