.content {
  padding: 2rem 0.5rem;
}

.bg-acton-blue {
  background-color: $acton-blue;
}

.logo {
  max-height: 6rem;
  margin-bottom: 1rem;
}

.embed-responsive {
  margin: 1.5rem 3rem;
}

.quote {
  .attribution {
    margin-top: 0.5rem;
    display: block;
  }
}

footer {
  background-color: #f2f2f2;
  padding: 2rem;
}
